/* 針對 .my-4 類別設定淺色字體 */
.my-4 {
  color: #b0b0b0; /* 設置淺灰色字體 */
}

/* 為 Tabs 設置淺色背景，並讓它具有透明效果 */
#tabs {
  background-color: rgba(255, 255, 255, 0.8);  /* 使用 rgba 設置透明的白色 */
}

/* 為 Tabs 內容區域設置背景顏色 */
#tabs-content {
  background-color: rgba(255, 255, 255, 0.6);  /* 使用較淺的透明白色 */
  padding: 20px;  /* 可以根據需要調整內邊距 */
  border-radius: 5px;  /* 可選，讓邊框變圓滑 */
}


/* 設置背景圖片 */
.background-container {
  background: url("/assets/images/v8_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;  /* 讓背景圖片覆蓋整個視窗高度 */
  position: fixed;    /* 使用 fixed 讓背景固定在視窗後面 */
  top: 0;
  left: 0;
  width: 100%;        /* 設置寬度為100%，這樣會覆蓋整個螢幕 */
  height: 100%;       /* 讓背景佔滿整個螢幕 */
  z-index: -1;        /* 確保背景圖片在底層 */
}


